@model EMS.Plantilla.Transfer.EmployeeMovement.EmployeeFieldForm

<div class="modal-header">
    Employee Field
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group form-fields">
            <form method="post" onsubmit="return false" id="frmEmployeeField">
                <div class="form-horizontal">
                    <div class="form-group form-fields text-align-left">
                        <div class="col-md-12">
                            <button type="button" id="btnSaveField" class="btnBlue formbtn">Save</button>
                        </div>
                    </div>

                    <div id="diEmployeeFieldErrorMessage" class="div-error-message"></div>

                    <div class="white-block">
                        <div class="col-label block-title">
                            <label class="control-label">Details</label>
                        </div>

                        <div class="form-group form-fields">
                            <div class="col-md-3 col-label">
                                <label class="control-label block-label" for="ddlMovementEmployeeField"> <span class="reqField">* </span>Employee Field</label>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="@Model.EmployeeField" asp-items="@((List<SelectListItem>)ViewData["EmployeeFieldSelectList"])" id="ddlMovementEmployeeField" class="form-control required-field" title="Employee Field" readonly>
                                    <option value="">- Select an item -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>
