@model List<EMS.Plantilla.Transfer.Employee.EmployeeFamily>

<div class="tabcontent" id="tabFamilyBackground">
    <div id="divFamilyErrorMessage" class="div-error-message"></div>
    <div class="form-group form-fields">
        <div class="col-md-0-5">
        </div>
        <div class="col-md-3 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Name</label>
        </div>
        <div class="col-md-1-5 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Relationship</label>
        </div>
        <div class="col-md-1-5 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Contact Number</label>
        </div>
        <div class="col-md-1-5 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Birth Date</label>
        </div>
        <div class="col-md-2 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Occupation</label>
        </div>
        <div class="col-md-2 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Spouse Employer</label>
        </div>
    </div>
    <div id="DivFamilyDynamicFields"></div>
    <div class="form-group form-fields text-align-right">
        <div class="col-md-0-5">
            <span class="btn-glyph-dynamic glyphicon glyphicon-plus-sign" id="btnAddFamilyFields"></span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-1-5"></div>
        <div class="col-md-1-5"></div>
        <div class="col-md-1-5"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
</div>