<div class="tabcontent" id="tabOnboarding">
    <div class="form-horizontal">
        <div class="form-group form-fields">
            <form method="post" onsubmit="return false" id="frmOnboardingTransactionAdd">
                <div class="form-group form-fields text-align-right">
                    <div class="col-md-12">
                        <button type="button" id="btnOnboardingWorkflowTransactionSave" class="btnBlue formbtn">Save</button>
                    </div>
                </div>
                <div id="divTransactionAddErrorMessage" class="div-error-message"></div>
                <div class="white-block">
                    <div class="col-label block-title">
                        <label class="control-label">Workflow</label>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group form-fields">
                            <div class="col-md-2-5 dynamic-field-header">
                                <label class="control-label block-label"> <span class="unreqField">* </span>Step</label>
                            </div>
                            <div class="col-md-2 dynamic-field-header">
                                <label class="control-label block-label"> <span class="unreqField">* </span>Result</label>
                            </div>
                            <div class="col-md-1-5 dynamic-field-header">
                                <label class="control-label block-label"> <span class="unreqField">* </span>Date Scheduled</label>
                            </div>
                            <div class="col-md-1-5 dynamic-field-header">
                                <label class="control-label block-label"> <span class="unreqField">* </span>Date Completed</label>
                            </div>
                            <div class="col-md-3-5 dynamic-field-header">
                                <label class="control-label block-label"> <span class="unreqField">* </span>Remarks</label>
                            </div>
                        </div>

                        <div class="form-group form-fields">
                            <div class="col-md-2-5 no-padding">
                                <select name="Workflow.CurrentStepCode" id="ddlStep" class="form-control required-field" title="Step">
                                </select>
                            </div>
                            <div class="col-md-2 no-padding">
                                <select name="Workflow.Result" id="ddlResult" class="form-control required-field" title="Result">
                                </select>
                            </div>
                            <div class="col-md-1-5 no-padding">
                                <input name="Workflow.DateScheduled" type="text" id="dpDateScheduled" class="form-control required-field" title="Date Scheduled" />
                            </div>
                            <div class="col-md-1-5 no-padding">
                                <input name="Workflow.DateCompleted" type="text" id="dpDateCompleted" class="form-control required-field" title="Date Completed" />
                            </div>
                            <div class="col-md-3-5 no-padding">
                                <input name="Workflow.Remarks" type="text" id="txtRemarks" class="form-control required-field" title="Remarks" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="white-block">
                    <div class="col-label block-title">
                        <label class="control-label">History</label>
                    </div>
                    <div class="ViewList">
                        <table id="tblWorkflowTransactionList"></table>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>