@model EMS.Plantilla.Transfer.Employee.Form

<div class="tabcontent" id="tabEmployeeRoving">
    <div class="form-group form-fields">
        <div class="col-md-6 dynamic-field-header">
            <label class="control-label block-label">Organizational Group</label>
        </div>
        <div class="col-md-6 dynamic-field-header">
            <label class="control-label block-label">Position</label>
        </div>
    </div>
    <div id="DivEmployeeRovingDynamicFields"></div>
    <div class="form-group form-fields text-align-right">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>