@page
@model EMS.FrontEnd.Pages.Plantilla.Employee.RovingModel
@{
}
    <div class="ViewList">
        <div class="tabcontent" id="tabEmployeeRoving">
            <div class="form-group form-fields">
                <div class="col-md-3 dynamic-field-header">
                    <label class="control-label block-label">Organizational Group</label>
                </div>
                <div class="col-md-3 dynamic-field-header">
                    <label class="control-label block-label">Position</label>
                </div>
            </div>
            <div id="DivEmployeeRovingDynamicFields"></div>
            <div class="form-group form-fields">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
        <table id="tblRovingList"></table>
    </div>

<script src="~/js/Pages/Plantilla/Employee/Roving.js"></script>