@model List<EMS_SecurityServiceModel.SystemURL.SystemURL>

<label class="list-title"> Admin MRF Request List </label>

<div id="filterFieldsContainer" style="display:none">
    @*<div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterMRFID" maxlength="70" class="form-control" /></div>*@
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterScopeOrgGroup" maxlength="255" class="form-control" />
        <div id="multiSelectedScopeOrgGroup" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterMRFTransactionID" maxlength="70" class="form-control" /></div>
    <div class="filterFields"></div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterOrgGroup" maxlength="255" class="form-control" />
        <div id="multiSelectedOrgGroup" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterPositionLevel" maxlength="255" class="form-control" />
        <div id="multiSelectedPositionLevel" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterPosition" maxlength="255" class="form-control" />
        <div id="multiSelectedPosition" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields">
        <div class="dropdown">
            <div id="multiSelectedNatureOfEmployment" class="form-control multiselect-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <div id="multiSelectedNatureOfEmploymentOption" class="dropdown-menu form-control multiselect-itemlist">
            </div>
        </div>
    </div>
    <div class="filterFields">
        <input type="search" placeholder="Min" id="txtFilterNoOfApplicantMin" maxlength="10" class="form-control" />
        <input type="search" placeholder="Max" id="txtFilterNoOfApplicantMax" maxlength="10" class="form-control" />
    </div>
    <div class="filterFields">
        <div class="dropdown">
            <div id="multiSelectedStatus" class="form-control multiselect-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <div id="multiSelectedStatusOption" class="dropdown-menu form-control multiselect-itemlist">
            </div>
        </div>
    </div>
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterDateCreatedFrom" maxlength="10" class="form-control" />
        <input type="search" placeholder="To" id="txtFilterDateCreatedTo" maxlength="10" class="form-control" />
    </div>
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterDateApprovedFrom" maxlength="10" class="form-control" />
        <input type="search" placeholder="To" id="txtFilterDateApprovedTo" maxlength="10" class="form-control" />
    </div>
    <div class="filterFields">
        <input type="search" placeholder="Min" id="txtFilterAgeMin" maxlength="10" class="form-control" />
        <input type="search" placeholder="Max" id="txtFilterAgeMax" maxlength="10" class="form-control" />
    </div>
</div>

<input type="hidden" id="hdnIsAdmin" value="true"/>

<div class="ViewList">
    <div class="ViewButtons" id="divMRFFilter">
        <span class="list-icon glyphicon glyphicon-refresh" title="Reset List" id="btnReset"></span>
        <span class="list-icon glyphicon glyphicon-search" title="Reload List" id="btnSearch"></span>
        @if (ViewData["HasAddFeature"] + "" == "true")
        {
            @Html.Raw("<button type=\"button\" id=\"btnAdd\" class=\"list-button btnGray formbtn\">Add</button>")
        }
        @if (ViewData["HasExportFeature"] + "" == "true")
        {
            @Html.Raw("<button type=\"button\" id=\"btnExport\" class=\"list-button btnGray formbtn\">Export</button>")
        }
    </div>
    <table id="tblManpowerMRFList"></table>
    <div id="divPager"></div>
</div>

@*<script src="~/js/Pages/_EMSCommon.min.js"></script>*@
<script src="~/js/Pages/Manpower/MRF/Lists.min.js"></script>