@page
@model EMS.FrontEnd.Pages.IPM.EmployeeScoreKeyIn.IndexModel
@{ ViewData["Title"] = "Employee Score Key-in";
                Layout = "~/Pages/Shared/_Layout.cshtml"; }

@* EmployeeScore Modal *@
<div id="divEmployeeScoreKeyInModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="width:95%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divEmployeeScoreKeyInBodyModal"></div>
        </div>
    </div>
</div>
@* End of EmployeeScore Modal *@

@* Employee Score Summary Modal *@
<div id="divEmployeeScoreSummaryModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="width:60%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divEmployeeScoreSummaryBodyModal">
                <div class="modal-header">
                    Report Summary
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <partial name="~/Pages/IPM/EmployeeScore/_Summary.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>
@* End of Employee Score Summary Modal *@

<div id="divEmployeeScoreKeyInList">
    @await Html.PartialAsync("~/Pages/IPM/EmployeeScoreKeyIn/_List.cshtml", Model._systemURL)
</div>
