@model List<EMS.Plantilla.Transfer.Employee.EmployeeEducation>

<div class="tabcontent" id="tabEducation">
    <div id="divEducationErrorMessage" class="div-error-message"></div>
    <div class="form-group form-fields">
        <div class="col-md-0-5">
        </div>
        <div class="col-md-2 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>School</label>
        </div>
        <div class="col-md-2 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Address</label>
        </div>
        <div class="col-md-1-5 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Level</label>
        </div>
        <div class="col-md-1-5 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Course</label>
        </div>
        <div class="col-md-0-75 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>From</label>
        </div>
        <div class="col-md-0-75 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>To</label>
        </div>
        <div class="col-md-1-5 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Educ. Attain. Degree</label>
        </div>
        <div class="col-md-1-5 dynamic-field-header">
            <label class="control-label block-label"> <span class="unreqField">* </span>Educ. Attain. Status</label>
        </div>
    </div>
    <div id="DivEducationDynamicFields"></div>
    <div class="form-group form-fields text-align-right">
        <div class="col-md-0-5">
            <span class="btn-glyph-dynamic glyphicon glyphicon-plus-sign" id="btnAddEducationFields"></span>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1-5"></div>
        <div class="col-md-1-5"></div>
        <div class="col-md-0-75"></div>
        <div class="col-md-0-75"></div>
        <div class="col-md-1-5"></div>
        <div class="col-md-1-5"></div>
    </div>
</div>