@model List<EMS_SecurityServiceModel.SystemURL.SystemURL>

<label class="list-title"> Audit Logs List </label>

<div id="filterFieldsContainer" style="display:none">
    <div class="filterFields"></div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterAuditLogsID" maxlength="8" class="form-control" /></div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterEventType" maxlength="255" class="form-control" />
        <div id="multiSelectedEventType" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterTableName" maxlength="255" class="form-control" />
        <div id="multiSelectedTableName" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterRemarks" maxlength="70" class="form-control" /></div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterName" maxlength="70" class="form-control" /></div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterIPAddress" maxlength="70" class="form-control" /></div>
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterDateCreatedFrom" maxlength="10" class="form-control" />
        <input type="search" placeholder="To" id="txtFilterDateCreatedTo" maxlength="10" class="form-control" />
    </div>
</div>

<div class="ViewList">
    <div class="ViewButtons" id="divSystemUserFilter">
        <span class="list-icon glyphicon glyphicon-refresh" title="Reset List" id="btnReset"></span>
        <span class="list-icon glyphicon glyphicon-search" title="Search List" id="btnSearch"></span>
    </div>
    <table id="tblAdministratorAuditLogsList"></table>
    <div id="divPager"></div>
</div>

<script src="~/js/Pages/Administrator/AuditLogs/Lists.js"></script>