
<label class="list-title">Training Template</label>

<div id="filterFieldsContainer" style="display:none">
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterID" maxlength="7" class="form-control" />
    </div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterTemplateName" maxlength="50" class="form-control" />
    </div>
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterCreatedDateFrom" maxlength="10" class="form-control" />
        <input type="search" placeholder="To" id="txtFilterCreatedDateTo" maxlength="10" class="form-control" />
    </div>
</div>

<div class="ViewList">
    <div class="ViewButtons" id="divTrainingFilter">
        @*<span class="list-icon glyphicon glyphicon-export" title="Export List" id="btnExport"></span>*@
        <span class="list-icon glyphicon glyphicon-refresh" title="Reset List" id="btnReset"></span>
        <span class="list-icon glyphicon glyphicon-search" title="Search List" id="btnSearch"></span>
        @if (ViewData["HasAdd"] + "" == "true")
        {
            @Html.Raw("<button type=\"button\" id=\"btnAdd\" class=\"list-button btnBlue formbtn\">Add</button>")
        }
    </div>
    <table id="tblTrainingList"></table>
    <div id="divPager"></div>
</div>

<script src="~/js/Pages/Administrator/Training/Lists.js"></script>