@page
@model EMS.FrontEnd.Pages.Administrator.Training.IndexModel
@{
    ViewData["Title"] = "Training Template";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="divTrainingModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="width:60%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divTrainingBodyModal"></div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Pages/Administrator/Training/_List.cshtml")


