
    <div class="tabcontent" id="tabChangePassword">
        <form method="post" id="frmManageAcountChangePassword">
            <div id="divChangePasswordErrorMessage" class="div-error-message"></div>
            <div class="form-group form-fields">
                <div class="col-md-3 col-label">
                    <label class="control-label block-label" for="txtCurrentPassword"> <span class="reqField">* </span>Current Password</label>
                </div>
                <div class="col-md-5">
                    <input type="password" name="ChangePassword.CurrentPassword" id="txtCurrentPassword" class="form-control required-field" title="Current Password" maxlength="200" readonly>
                </div>
            </div>
            <div class="form-group form-fields">
                <div class="col-md-3 col-label">
                    <label class="control-label block-label" for="txtNewPassword"> <span class="reqField">* </span>New Password</label>
                </div>
                <div class="col-md-5">
                    <input type="password" name="ChangePassword.NewPassword" id="txtNewPassword" class="form-control required-field" title="Current Password" maxlength="200" readonly>
                </div>
            </div>
            <div class="form-group form-fields">
                <div class="col-md-3 col-label">
                    <label class="control-label block-label" for="txtConfirmNewPassword"> <span class="reqField">* </span>Confirm New Password</label>
                </div>
                <div class="col-md-5">
                    <input type="password" name="ChangePassword.ConfirmNewPassword" id="txtConfirmNewPassword" class="form-control required-field" title="Current Password" maxlength="200" readonly>
                </div>
            </div>
            <div class="form-group form-fields text-align-right">
                <div class="col-md-3 col-label">
                </div>
                <div class="col-md-5">
                    <button type="button" id="btnChangePassword" style="display:none" class="btnBlue formbtn button-width-auto">Change Password</button>
                </div>
            </div>
        </form>
    </div>

