@model List<EMS_SecurityServiceModel.SystemURL.SystemURL>
@*for movement checker 29-37, 48, 75-78*@ 
<label class="list-title"> Movement List </label>

<div id="filterFieldsContainer" style="display:none">
    <div class="filterFields"></div>
    <div class="filterFields"></div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterEmployeeName" maxlength="255" class="form-control" /></div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterOrgGroup" maxlength="255" class="form-control" />
        <div id="multiSelectedOrgGroup" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields">
        <div class="dropdown">
            <div id="multiSelectedEmployeeField" class="form-control multiselect-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <div id="multiSelectedEmployeeFieldOption" class="dropdown-menu form-control multiselect-itemlist">
            </div>
        </div>
    </div>
    <div class="filterFields">
        <div class="dropdown">
            <div id="multiSelectedMovementType" class="form-control multiselect-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <div id="multiSelectedMovementTypeOption" class="dropdown-menu form-control multiselect-itemlist">
            </div>
        </div>
    </div>
    <div class="filterFields"></div>
    <div class="filterFields">
        <div class="dropdown">
            <div id="multiSelectedStatus" class="form-control multiselect-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <div id="multiSelectedStatusOption" class="dropdown-menu form-control multiselect-itemlist">
            </div>
        </div>
    </div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterFrom" maxlength="255" class="form-control" /></div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterTo" maxlength="255" class="form-control" /></div>
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterDateEffectiveFromFrom" maxlength="10" class="form-control" />
        <input type="search" placeholder="To" id="txtFilterDateEffectiveFromTo" maxlength="10" class="form-control" />
    </div>
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterDateEffectiveToFrom" maxlength="10" class="form-control" />
        <input type="search" placeholder="To" id="txtFilterDateEffectiveToTo" maxlength="10" class="form-control" />
    </div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterOldEmployeeID" maxlength="50" class="form-control" /></div>
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterCreatedDateFrom" maxlength="10" class="form-control" />
        <input type="search" placeholder="To" id="txtFilterCreatedDateTo" maxlength="10" class="form-control" />
    </div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterCreatedBy" maxlength="255" class="form-control" />
        <div id="multiSelectedCreatedBy" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterReason" maxlength="255" class="form-control" /></div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterHRDComments" maxlength="255" class="form-control" /></div>
</div>

<div class="ViewList">
    <div class="ViewButtons" id="divMovementFilter">
        @if (ViewData["HasExportFeature"] + "" == "true")
        {
            @*@Html.Raw("<button type=\"button\" id=\"btnExport\" class=\"list-button btnBlue formbtn\">Export</button>")*@
            @Html.Raw("<span class=\"list-icon glyphicon glyphicon-export\" title=\"Export List\" id=\"btnExport\"></span>")
        }
        <span class="list-icon glyphicon glyphicon-refresh" title="Reset List" id="btnReset"></span>
        <span class="list-icon glyphicon glyphicon-search" title="Search List" id="btnSearch"></span>
        @if (ViewData["HasUploadFeature"] + "" == "true")
        {
            @Html.Raw("<button type=\"button\" id=\"btnUploadInsert\" class=\"list-button btnBlue formbtn\">Upload</button>")
        }

        @*<div class="form-horizontal filter-control">
            <label class="control-label filter-control block-label" for="cbShowActiveOnly"> <span class="unreqField">* </span>Show Active Only</label>
            <input type="checkbox" id="cbShowActiveOnly" class="form-control filter-control" title="Show Active Only">
        </div>*@

    </div>
    <table id="tblMovementList"></table>
    <div id="divMovementPager"></div>
</div>


<script src="~/js/Pages/Plantilla/Movement/Lists.js"></script>