
<div class="text-center system-title">
  <h1><i>Recruitment</i></h1>
</div>

<div class="text-align-left system-title">
  <label class="list-title"><i>Applicant Count (By Organizational Group)</i></label>
</div>

<div class="container dashboard-container">
  <canvas id="ApplicantDashboard" class="dashboard-size"></canvas>
</div>

