@model List<EMS.IPM.Transfer.KPIScore.KPIScoreForm>

    <div class="form-group form-fields">
        <div class="col-md-2 dynamic-field-header">
            <label class="control-label block-label">KRA Group</label>
        </div>
        <div class="col-md-1 dynamic-field-header">
            <label class="control-label block-label">KPI Code</label>
        </div>
        <div class="col-md-2 dynamic-field-header">
            <label class="control-label block-label">KPI Name</label>
        </div>
        <div class="col-md-4 dynamic-field-header">
            <label class="control-label block-label">KPI Description</label>
        </div>
        <div class="col-md-1 dynamic-field-header">
            <label class="control-label block-label">Target</label>
        </div>
        <div class="col-md-1 dynamic-field-header">
            <label class="control-label block-label">Actual</label>
        </div>
        <div class="col-md-1 dynamic-field-header">
            <label class="control-label block-label">Rate</label>
        </div>
    </div>
<div id="DivChildrenScoreDynamicFields"></div>
<div class="form-group form-fields text-align-right">
    <div class="col-md-9">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
</div>