@page
@model EMS.FrontEnd.Pages.Training.MyTraining.IndexModel
@{
    ViewData["Title"] = "My Training List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Pages/Training/MyTraining/_List.cshtml")

<div id="divTrainingModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="width:50%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divTrainingBodyModal"></div>
        </div>
    </div>
</div>