
<label class="list-title">Org Regroup</label>

<div id="filterFieldsContainer" style="display:none">
    <div class="filterFields">
        <input type="search" placeholder="From" id="txtFilterFrom" maxlength="10" class="form-control" autocomplete="off" />
        <input type="search" placeholder="To" id="txtFilterTo" maxlength="10" class="form-control" autocomplete="off" />
    </div>
    <div class="filterFields">
        <div class="dropdown">
            <div id="multiSelectedIsLatest" class="form-control multiselect-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <div id="multiSelectedIsLatestOption" class="dropdown-menu form-control multiselect-itemlist">
            </div>
        </div>
    </div>
</div>

<div class="ViewList" id="divOrgGroupTableList">
    <div class="ViewButtons" id="divOrgHistoryFilter">
        <span class="list-icon glyphicon glyphicon-refresh" title="Reset List" id="btnReset"></span>
        <span class="list-icon glyphicon glyphicon-search" title="Search List" id="btnSearch"></span>
        @if (ViewData["HasAddFeature"] + "" == "true")
        {
            @Html.Raw("<button type=\"button\" id=\"btnAdd\" class=\"list-button btnBlue formbtn\">Add</button>")
        }
    </div>

    <table id="tblOrgHistoryList"></table>

    <div id="divPager"></div>
</div>

<script src="~/js/Pages/Administrator/OrgHistory/Lists.js"></script>