
<div class="tabcontent" id="tabMembers">
    <div class="form-group form-fields display-flex">
        <div class="col-md-5">
            <input type="text" id="txtSearchBoxOne" class="form-control listbox" placeholder="Search here..." />
            <select id="ddlListOneOrgGroup" class="form-control listbox" size="10"></select>
        </div>
        <div class="col-md-2 text-align-center listboxbutton">
            <br />
            <br />
            <button type="button" id="btnMoveToListTwoAll" class="btnBlue formbtn btn-transfer">>></button><br />
            <button type="button" id="btnMoveToListTwo" class="btnBlue formbtn btn-transfer">></button><br />
            <button type="button" id="btnMoveToListOne" class="btnBlue formbtn btn-transfer"><</button><br />
            <button type="button" id="btnMoveToListOneAll" class="btnBlue formbtn btn-transfer"><<</button><br />
        </div>
        <div class="col-md-5">
            <input type="text" id="txtSearchBoxTwo" class="form-control listbox" placeholder="Search here..." />
            <select id="ddlListTwoOrgGroup" class="form-control listbox" size="10" title="System User"></select>
        </div>
    </div>
</div>