
<div class="tabcontent" id="tabKickoutQuestion">
    <div class="ViewList">
        <div id="divKickoutQuestionListErrorMessage" class="div-error-message"></div>
        <div class="ViewButtons">
            <button type="button" id="btnAddQuestion" class="list-button btnBlue formbtn">Add</button>
            <button type="button" id="btnRemoveQuestion" class="list-button btnBlue formbtn">Remove</button>
        </div>
        <table id="tblKickoutQuestion"></table>
    </div>
</div>