@page
@model EMS.FrontEnd.Pages.LogActivity.Accountability.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@* Accountability Modal *@
<div id="divAccountabilityModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="width:90%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divAccountabilityBodyModal"></div>
        </div>
    </div>
</div>
@* End of Accountability Modal *@

@await Html.PartialAsync("~/Pages/LogActivity/Accountability/_List.cshtml", Model._systemURL)


