    <div class="tabcontent" id="tabAttachment">
        <div class="form-group form-fields text-align-left">
            <div class="col-md-11">
                <button type="button" id="btnSaveAttachmentActivity" class="btnBlue formbtn button-width-auto">Save Attachments</button>
            </div>
        </div>
        <div class="form-group form-fields">
            <div class="col-md-1">
                <a class="download-link" id="LogActivitylnkType">Add Type</a>
            </div>
            <div class="col-md-1-5 dynamic-field-header">
                <label class="control-label block-label"> <span class="reqField">* </span>Type</label>
            </div>
            <div class="col-md-2-5 dynamic-field-header">
                <label class="control-label block-label"> <span class="unreqField">* </span>Remarks</label>
            </div>
            <div class="col-md-3-5 dynamic-field-header">
                <label class="control-label block-label"> <span class="reqField">* </span>Attachment (not more than 10 mb)</label>
            </div>
            <div class="col-md-3-5 dynamic-field-header">
                <label class="control-label block-label"> <span class="unreqField">* </span>Uploaded By</label>
            </div>
            @*<div class="col-md-0-5">
                <label class="control-label block-label"> <span class="unreqField">* </span></label>
            </div>*@
        </div>
        <div id="DivLogActivityDownloadAttachmentDynamicFields"></div>
        <div id="DivLogActivityUploadAttachmentDynamicFields"></div>

        <div class="form-group form-fields">
            <div class="col-md-0-5">
                <span class="btn-glyph-dynamic glyphicon glyphicon-plus-sign" id="btnLogActivityAddAttachmentFields"></span>
            </div>
            <div class="col-md-1-5">
            </div>
            <div class="col-md-2-5">
            </div>
            <div class="col-md-3-5">
            </div>
            <div class="col-md-3-5">
            </div>
        </div>
    </div>