
<div class="modal-header">
    Reset Password
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group form-fields">
            <form method="post" id="frmResetPassword">
                <div class="form-horizontal">
                    <div class="form-group form-fields text-align-left">
                        <button type="button" id="btnSavePassword" class="btnBlue formbtn">Save</button>
                    </div>

                    <div id="divPasswordErrorMessage" class="div-error-message"></div>
                    
                    <div class="white-block">
                        <div class="form-group form-fields">
                            <div class="col-md-6 col-label">
                                <label class="control-label block-label" for="txtPassword"> <span class="reqField">* </span>New Password </label>
                            </div>
                            <div class="col-md-6">
                                <input type="password" name="ResetPassword.NewPassword" id="txtPassword" class="form-control required-field" title="Password" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group form-fields">
                            <div class="col-md-6 col-label">
                                <label class="control-label block-label" for="cbForce">Force Change Password?</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="cbForce" title="Force Change Password?" checked>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@*<div class="modal-footer">
</div>*@


