@model List<EMS_SecurityServiceModel.SystemURL.SystemURL>

<label class="list-title"> Position List </label>

<div id="filterFieldsContainer" style="display:none">
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterPositionID" maxlength="8" class="form-control" /></div>
    <div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterPositionLevel" maxlength="255" class="form-control" />
        <div id="multiSelectedPositionLevel" class="form-control multiselect-control"></div>
    </div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterCode" maxlength="50" class="form-control" /></div>
    <div class="filterFields"><input type="search" placeholder="Search.." id="txtFilterTitle" maxlength="255" class="form-control" /></div>
    @*<div class="filterFields">
        <input type="search" placeholder="Search.." id="txtFilterParentPosition" maxlength="255" class="form-control" />
        <div id="multiSelectedParentPosition" class="form-control multiselect-control"></div>
    </div>*@
</div>

<div class="ViewList">
    <div class="ViewButtons">
        <span class="list-icon glyphicon glyphicon-export" title="Export List" id="btnExport"></span>
        <span class="list-icon glyphicon glyphicon-refresh" title="Reset List" id="btnReset"></span>
        <span class="list-icon glyphicon glyphicon-search" title="Search List" id="btnSearch"></span>
        @if (ViewData["HasAddFeature"] + "" == "true")
        {
            @Html.Raw("<button type=\"button\" id=\"btnAdd\" class=\"list-button btnBlue formbtn\">Add</button>")
        }
        @*<button type="button" id="btnExport" class="list-button btnBlue formbtn">Export</button>*@
    </div>
    <table id="tblPlantillaPositionList"></table>
    <div id="divPager"></div>
</div>

@*<script src="~/js/Pages/_EMSCommon.min.js"></script>*@
<script src="~/js/Pages/Plantilla/Position/Lists.js"></script>