@page
@model EMS.FrontEnd.Pages.ForceChangePasswordModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EMS</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/jqGrid.Modified.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery-1.10.2.min.js"></script>
    <script src="~/lib/jquery-ui-1.10.0.js"></script>
    <script src="~/lib/modernizr-2.6.2.js"></script>
    <script src="~/js/Messages.min.js"></script>
    <script src="~/js/Common.min.js"></script>
    <script src="~/lib/respond.js"></script>
    <script src="~/lib/anseki-jquery-plainoverlay/jquery.plainoverlay.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/jqGrid.Custom.css" rel="stylesheet" />

</head>
<body>

    <div class="container body-content">

        <div class="force-change-pass-page">
            @*<label class="list-title"> Force Change Password </label>*@
            <div id="divErrorMessage"></div>
            <div class="force-change-password">
                <center>
                    <img src="~/css/images/navlogo.png" style="width:80% !important; height:80% !important">
                    <p class="form-title">Force Change Password</p>
                </center>
                <form method="post" id="frmManageAcountChangePassword">
                    <div class="form-group has-feedback">
                        <input type="password" name="ChangePassword.NewPassword" id="txtNewPassword" class="password-input form-control required-field" placeholder="New Password" title="New Password" maxlength="200">
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" name="ChangePassword.ConfirmNewPassword" id="txtConfirmNewPassword" class="password-input form-control required-field" placeholder="Confirm New Password" title="Confirm New Password" maxlength="200">
                    </div>

                    <div class="row">
                        <div class="col-md-6 btn-container">
                            <button type="button" id="btnSave" class="btn btn-savePassword btn-block btn-flat">Save</button>
                        </div>
                        <div class="col-md-6 btn-container">
                            <button type="button" id="btnBack" class="btn btn-back btn-block btn-flat">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="~/js/Pages/ForceChangePassword.js"></script>
    </div>
    <div id="loading" style="display:none">
        <p><img src="~/css/images/loader.gif" /></p>
    </div>

    @* Comfirmation Modal *@
    <div id="divModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="divHeaderModal" class="modal-header"></div>
                <div id="divBodyModal" class="modal-body"></div>
                <div id="divFooterModal" class="modal-footer"></div>
            </div>
        </div>
    </div>
    @* End of Comfirmation Modal *@
</body>
</html>

